.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 150px;

}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #D9D9D9; 
    border-radius: 8px; 
    
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
